---
import Logo from "../../assets/svg/logo.svg?raw"
---

<nav class="flex items-center justify-around bg-nav-black">
  <Fragment set:html={Logo} />
  <ul class="hidden text-white sm:flex sm:gap-10 md:gap-14">
    <li>Home</li>
    <li>Projects</li>
    <li>Experience</li>
    <li>Contact</li>
  </ul>
</nav>
