---
import Logo from "../../public/logo.svg?raw";
---

<nav class="bg-nav-black flex items-center justify-around">
  <Fragment set:html={Logo} />
  <ul class="text-white hidden sm:flex sm:gap-10 md:gap-14">
    <li>Home</li>
    <li>Projects</li>
    <li>Experience</li>
    <li>Contact</li>
  </ul>
</nav>
